extends layout

block content 
   
    script(src="javascripts/matter.min.js")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="javascripts/click-test.js")

    script(src="javascripts/matter-test.js")

    button(id="addRec") 箱追加
    button(id="save") 保存
    button(id="start") 開始